:root {
  --base: 198, 45%;
}

body {
  background: hsl(var(--base), 95%);
}
*:not(.font-grotesk, .font-grotesk *) {
  font-family: "Work Sans", sans-serif !important;
}

.font-grotesk,
.font-grotesk * {
	font-family: 'Space Grotesk', sans-serif!important;
}

.MuiTouchRipple-rippleVisible {
  animation-duration: 0.25s !important;
}

.MuiTouchRipple-child {
  filter: opacity(0.3) !important;
  background: hsl(240, 11%, 10%);
}

a {
  text-decoration: none;
}
